extends _layout

prepend titleDeterminer
  - var pageDesc = 'The official IGdm changelog summaries. See the full changelogs on GitHub.'
  - var pageTitle = 'Changelog'

append head
  link(rel='stylesheet', href='/css/markdown.css')

prepend header
  - var navtype = 'navbar-dark'
  - var promo = 'still'

block content
  section.changelog
    :markdown-it
      ## Newest 3.0.0 Features

      - Add option to save image
      - Add option to auto launch IGdm on start up
      - Add option to delete conversation
      - Make auto-update optional
      - Indicate when users are "active" or "last seen"
      - Fix 2FA
      - Fix image upload
      - Upload audio, and video files

      [View full list](https://github.com/igdmapps/igdm/blob/master/CHANGELOG.md#300--2020-04-29)

      ## v2.8.0 Features
      - 2FA Support
      - Better ux for chatList

      [View full list](https://github.com/igdmapps/igdm/blob/master/CHANGELOG.md#280--2019-10-31)

      ## v2.7.0 Features
      - Disable drag and drop
      - Use group and chat titles
      - Render Message As ActionLog
      - Add support for audio media
      - Render message reactions (message likes)
      - Render GIFs
      - Less confusing "send 'seen' receipts" indicator

      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#270--2019-08-21)

      ## v2.6.0 Features
      - Fix notification on windows
      - Friendly image upload UX
      - Chat message performance improvement

      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#260--2018-12-22)

      ## v2.5.0 Features
      - Mute Notifications
      - Load all previous chat messages

      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#251--2018-06-11)

      ## v2.4.0 Features
      - New fresh UI look
      - Use HTML 5 notifications
      - Fix for chat not updating after a long while (by fixing electron timeout)
      - Warn about no 2fa support
      
      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#240--2018-03-25) 

      ## v2.3.0 Features
      - You can now upload photos in the DM.
      - Fix unneeded new thread creation when DMing a group.
      - Close modal view on esc button.
      - View Story replies sent to you
      
      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#230--2017-12-04) 
      
      ## v2.2.0 Features
      - Watch/View and save/download posts shared via DMs.
      - Notification badges are now added for Mac.
      - Shared urls are now displayed in rich format.
      
      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#220--2017-09-27)
      
      ## v2.1.0 Features
      - Helpful login error messages.
      - Parse urls within messages.
      - Support newline in message sending/formatting.
      - Fix chatlist/chatrooms refusing to update after sometime.
      - Quote messages now formats on newlines.
      
      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#210--2017-08-14)
      
      ## v2.0.0 Features
      - Better notification system
      - Quote a chat message.
      - View users not following you back.
      - View image messages.
      - You can now view shared images.
      - Disable message reciepts.
        - Prevent users from knowing you've seen their messages
      - Software now auto-updates when there's a new version.

      [View full list](https://github.com/ifedapoolarewaju/igdm/blob/master/CHANGELOG.md#20--2017-06-01)