extends _layout

prepend titleDeterminer
  - var pageDesc = 'IGdm is a desktop application for Instagram direct messages. Download for Windows, Mac and Linux'

append head
  link(rel='stylesheet', href='/css/index.css')

prepend header
  - var navtype = 'transparent navbar-dark'
  - var promo = 'active'

append navigation
  .container.promo.pb-5.pt-2.mb-5.text-center
    h1.text-center.display-1.col-md-auto IGdm
    h3.text-center.col-12.col-md-8.m-auto Continue your Instagram direct messages from your phone to your desktop.
    .download.col-md-auto.mt-5
      h5(style="max-width: 500px; margin: 22px auto;")
        | IGdm is currently undergoing a rewrite and will be available again in a few months. In the mean time you can try IGdm Pro
        //- span v3.0.0
      div.mt-2(class="btn-group" role="group" aria-label="Download buttons")
        a.btn.btn-outline-light(role="button" href='https://pro.igdm.me' target='_blank')
          //- i.mdi.mdi-windows
          span.ml-2 TRY IGdm PRO NOW
        //- a.btn.btn-outline-light(role="button" href='https://github.com/igdmapps/igdm/releases/download/v3.0.4/IGdm-3.0.4.dmg')
        //-   i.mdi.mdi-apple 
        //-   span.ml-2 macOS
        //- a.btn.btn-outline-light(role="button" href='https://github.com/igdmapps/igdm/releases/download/v3.0.4/IGdm-3.0.4.AppImage')
        //-   i.mdi.mdi-linux
        //-   span.ml-2 Linux
    a.downloadCount.mt-3.d-block(href='https://twitter.com/igdmApps/status/1137337076167401472', target='_blank') Over 5,000,000+ Downloads!

block content
  section.features.mt-5
    h2.text-center.mb-5 Features
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Continue conversations
        p.text-muted You will be able to continue your conversations from where you left off on the mobile app.
      .col-md-4
        h5 2-Factor Authentication
        p.text-muted IGdm has login support for accounts with two-factor authentication enabled.
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Disable Read Receipts
        p.text-muted IGdm provides a setting that allows you prevent users from receiving read receipts.
      .col-md-4
        h5 Unfollowers
        p.text-muted View the list of users that are not following you back.
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Quote Messages
        p.text-muted IGdm provides a custom and convenient style of quoting chat messages within a conversation
      .col-md-4
        h5 Save Videos and Images
        p.text-muted You can save videos and images in the instagram posts that a shared with you in a chat.
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Search for users
        p.text-muted You can search for any user and start a conversation with that user.
      .col-md-4

    .screenshots.row.mt-5.text-center
      a.col-md-4.mb-4(href='img/startchat.gif', target='_blank')
        | Search for users and start a conversation
        img.mt-3.img-fluid(src='img/startchat.gif')
      a.col-md-4.mb-4(href='img/unfollowers.gif', target='_blank')
        | View a list of users not following you back
        img.mt-3.img-fluid(src='img/unfollowers.gif')
      a.col-md-4.mb-4(href='img/quotemessage.gif', target='_blank')
        | Quote a chat message
        img.mt-3.img-fluid(src='img/quotemessage.gif')
      a.col-md-4(href='img/viewimage.gif', target='_blank')
        | View chat images
        img.mt-3.img-fluid(src='img/viewimage.gif')
  section.issues.mt-5.text-center
    h2 Want more features?
    h4
      a.btn.btn-primary.prominent2(href='https://pro.igdm.me', target='_blank')
        | Try &nbsp;
        b IGdm Pro

  section.row.mt-5.justify-content-center
    .col-md-11.text-center
      h4 Issues running IGdm on your computer?
      span
        | Please see 
        a(href='http://igdm.me/blog/igdm-on-windows-linux', target='_blank') common issues and fixes 
        | for running IGdm on your desktop.
    //- .col-md-1
    //- .col-md-5
    //-   h4 Donations
    //-   | IGdm
    //-   | is an open source project that can be used for free by anyone, donations
    //-   | and incentives are wholeheartedly welcome.
    //-   a.btn.btn-link.btn-outline-light(role="button" href='http://paypal.me/SolomonOmojola' target="_blank") Donate via PayPal
    //-   p You can also donate via BITCOIN to the following Bitcoin address.
    //-   div
    //-     code 3NM9EubVwdvNm9qiTgLC8DHsRtTHvoyaD6

append footer
  script.
    //- document.querySelectorAll('.download a').forEach(function (el){
    //-   el.addEventListener('click', function(event) {
    //-     event.preventDefault()
    //-     ga('send', 'event', {
    //-       eventCategory: 'Outbound Link',
    //-       eventAction: 'click',
    //-       eventLabel: el.href,
    //-       transport: 'beacon'
    //-     });

    //-     window.location = el.href;
    //-   })
    //- })
    document.querySelectorAll('.psa.home a').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'Sponsored Outbound Link',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });
        window.open(el.href , '_blank');
      })
    })
    document.querySelectorAll('a.prominent-link').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'IGdm Pro Nav',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });
        window.open(el.href , '_blank');
      })
    })
    document.querySelectorAll('a.prominent2').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'IGdm Pro CTA',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });
        window.open(el.href , '_blank');
      })
    })
