extends _layout

prepend titleDeterminer
  - var pageDesc = 'A desktop application for Instagram direct messages. Download for Windows, Mac and Linux'

append head
  link(rel='stylesheet', href='/css/index.css')

prepend header
  - var navtype = 'transparent navbar-dark'
  - var promo = 'active'

block psa
  .psa.home
    b Sponsored:&nbsp;
    span Want free Instagram followers? Use Socialfollow® for &nbsp;
    b FREE &nbsp;
    span and grow your Instagram today! &nbsp;
    a.btn.btn-primary(href="https://socialfollow.co/?utm_source=igdm&utm_medium=banner", target="_blank")
     b Grow your Instagram NOW

append navigation
  .container.promo.pb-5.pt-2.mb-5.text-center
    h1.text-center.display-1.col-md-auto IG:dm
    h3.text-center.col-12.col-md-8.m-auto Continue your Instagram direct messages from your phone to your desktop.
    .download.col-md-auto.mt-5
      h5
        | Download the latest 
        span v2.8.0
      div.mt-2(class="btn-group" role="group" aria-label="Download buttons")
        a.btn.btn-outline-light(role="button" href='https://github.com/igdmapps/igdm/releases/download/v2.8.1/IGdm-Setup-2.8.1.exe')
          i.mdi.mdi-windows
          span.ml-2 Windows
        a.btn.btn-outline-light(role="button" href='https://github.com/igdmapps/igdm/releases/download/v2.8.1/IGdm-2.8.1.dmg')
          i.mdi.mdi-apple 
          span.ml-2 macOS
        a.btn.btn-outline-light(role="button" href='https://github.com/igdmapps/igdm/releases/download/v2.8.1/IGdm-2.8.1-x86_64.AppImage')
          i.mdi.mdi-linux
          span.ml-2 Linux
    a.downloadCount.mt-3.d-block(href='https://twitter.com/igdmApps/status/1137337076167401472', target='_blank') Over 5,000,000+ Downloads!

block content
  .text-white.row.justify-content-center
    .psa.lykdat.col-8.bg-secondary.p-2
      b Sponsored:&nbsp;
      span Shop for fashion by searching with images on&nbsp;
      b LykDat &nbsp;
      a.btn.btn-primary(href="https://lykdat.com/?utm_source=igdm_home&utm_medium=banner", target="_blank")
        b TRY IT NOW

  section.features.mt-5
    h2.text-center.mb-5 Features
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Continue conversations
        p.text-muted You will be able to continue your conversations from where you left off on the mobile app.
      .col-md-4
        h5 2-Factor Authentication
        p.text-muted IGdm has login support for accounts with two-factor authentication enabled.
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Disable Read Receipts
        p.text-muted IGdm provides a setting that allows you prevent users from receiving read receipts.
      .col-md-4
        h5 Unfollowers
        p.text-muted View the list of users that are not following you back.
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Quote Messages
        p.text-muted IGdm provides a custom and convenient style of quoting chat messages within a conversation
      .col-md-4
        h5 Save Videos and Images
        p.text-muted You can save videos and images in the instagram posts that a shared with you in a chat.
    .row.mt-3.justify-content-center
      .col-md-4
        h5 Search for users
        p.text-muted You can search for any user and start a conversation with that user.
      .col-md-4

    .screenshots.row.mt-5.text-center
      a.col-md-4.mb-4(href='img/startchat.gif', target='_blank')
        | Search for users and start a conversation
        img.mt-3.img-fluid(src='img/startchat.gif')
      a.col-md-4.mb-4(href='img/unfollowers.gif', target='_blank')
        | View a list of users not following you back
        img.mt-3.img-fluid(src='img/unfollowers.gif')
      a.col-md-4.mb-4(href='img/quotemessage.gif', target='_blank')
        | Quote a chat message
        img.mt-3.img-fluid(src='img/quotemessage.gif')
      a.col-md-4(href='img/viewimage.gif', target='_blank')
        | View chat images
        img.mt-3.img-fluid(src='img/viewimage.gif')
  section.issues.mt-5.text-center
    h2 Want more features?
    h4
      a.btn.btn-primary.prominent2(href='https://pro.igdm.me', target='_blank')
        | Try &nbsp;
        b IGdm Pro

  section.row.mt-5.justify-content-center
    .col-md-5
      h4 Issues running IG:dm on your computer?
      span
        | Please see 
        a(href='http://igdm.me/blog/igdm-on-windows-linux', target='_blank') common issues and fixes 
        | for running IG:dm on your desktop.
    .col-md-1
    .col-md-5
      h4 Donations
      | IG:dm
      | is an open source project that can be used for free by anyone, donations
      | and incentives are wholeheartedly welcome.
      a.btn.btn-link.btn-outline-light(role="button" href='http://paypal.me/SolomonOmojola' target="_blank") Donate via PayPal
      p You can also donate via BITCOIN to the following Bitcoin address.
      div
        code 3NM9EubVwdvNm9qiTgLC8DHsRtTHvoyaD6

append footer
  script.
    document.querySelectorAll('.download a').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'Outbound Link',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });

        window.location = el.href;
      })
    })
    document.querySelectorAll('.psa.home a').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'Sponsored Outbound Link',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });
        window.open(el.href , '_blank');
      })
    })
    document.querySelectorAll('a.prominent-link').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'IGdm Pro Nav',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });
        window.open(el.href , '_blank');
      })
    })
    document.querySelectorAll('a.prominent2').forEach(function (el){
      el.addEventListener('click', function(event) {
        event.preventDefault()
        ga('send', 'event', {
          eventCategory: 'IGdm Pro CTA',
          eventAction: 'click',
          eventLabel: el.href,
          transport: 'beacon'
        });
        window.open(el.href , '_blank');
      })
    })
