extends _blog

prepend titleDeterminer
  - var pageDesc = 'Learn how to send mass messages to your Instagram followers using the IGdm Pro app. Maximising the reach to your audience and keeping them engaged in the process.'
  - var pageTitle = 'How To Send Mass Messages To Your Instagram Followers'

block blogContent
  :markdown-it()
    # How To Send Mass Messages To Your Instagram Followers

    Are you currently searching the internet for a step by step guide on how to send mass messages
    to your Instagram followers? Look no further, you've come to the right place.

    In this article, we will be showing you how you can send out mass, personalised Instagram messages to all your followers
    using the [IGdm Pro](https://pro.igdm.me) app.
    If you previously did it manually, then this will save you a lot time that you could spend doing other valuable things.

    &nbsp;&nbsp;
    #### What is IGdm Pro?

    [IGdm Pro](https://pro.igdm.me) is a handy application than can be used to manage your Instagram DMs in a more
    effecient and productive fashion. Asides from sending mass messages, IGdm Pro also
    offers **[message scheduling](https://igdm.me/blog/how-to-schedule-instagram-messages)**, **[auto-replies](https://igdm.me/blog/how-to-set-up-automatic-message-replies-on-instagram)**, **[automatic welcome message to new followers](https://igdm.me/blog/how-to-send-automated-messages-to-new-followers-on-instagram)**, **quick replies**,
    and a host of other productivity boosting features.

    To install the [IGdm Pro](https://pro.igdm.me) app, simply visit the website ([https://pro.igdm.me](https://pro.igdm.me)), and click
    the download link that is applicable to your operating system. Once downloaded to your computer,
    launch the application and complete the installation process.

    &nbsp;&nbsp;
    #### Log In to Your Instagram Account

    - Launch the IGdm Pro App
    - Click on the button that says "Click to login with Browser". This will open instagram.com on the Chromium Browser

    ![IGdm Pro Login Screenshot](../img/blog/igdm-login.png)

    - Log into your desired Instagram Account via the Instagram page opened on the Chromium Browser.
    - Once login is complete, the browser will be automatically closed and you can switch back to the IGdm Pro app as it loads up your account.

    &nbsp;&nbsp;
    #### Composing Your Message

    - Move your mouse to hover on your profile picture located on the top left corner of the application (see screenshot below)
    - A dropdown menu will appear with a list of actions that you can perform. Click on the "Bulk Messages" option.

    ![IGdm Pro avatar dropdown menu](../img/blog/bulk-message-dropdown.png)

    - The Bulk Message view will appear with a screen prompting you to select the recipients you want to send your messages to. You have the option to select "Your Followers", "Accounts You Follow", or you can provide your own custom recipient list.
    - For the purpose of this guide, you will be clicking "Your Followers" as seen in the screenshot below.

    ![IGdm Pro Mass Message Follower Select](../img/blog/mass-instagram-message-followers-select.png)

    - Now click the "Next" button as seen in the screenshot to proceed to the next step.
    - A box will appear for you to type in your message. So please go ahead and type in your intended message at this point.
    - To include personalised content (such as each user's display name or username) into your message, hover on the "Insert Variables" button, and click the desired variable you want to include. When the messages are being sent to each user, IGdm Pro will replace the variables with the user's actual username or display name.
    - Once you are done composing your message, simply click the "Send Bulk Message" to get it sent. The messages will begin sending the in background. You can navigate to do other things on the App and check back to see the progress of the messages being sent.

    ![IGdm Pro Compose Mass Message](../img/blog/compose-mass-instagram-message.png)

    **NOTE:** In order for all the messages to be sent, you are required to keep the IGdm Pro app running while the messages are being sent.
    Another thing to keep in mind is that, if you have a large number of followers, IGdm Pro will only send the message to your first 1000 followers.
    This is in order to not overwhelm Instagram's services with too many messages.

    &nbsp;&nbsp;
    #### IGdm Pro's Smart Approach To Instargam Mass Messages

    [IGdm Pro](https://pro.igdm.me) avoids over-flooding Instagram's servers when sending Mass Messages. It does this by sending the message to each user at different intervals.
    What this means is that, the bulk messages do not get sent at the same time. Instead, IGdm Pro picks the first user, sends the message to them, and waits for some minutes
    before proceeding to pick the second user, and so forth.

    &nbsp;&nbsp;
    #### Conclusion

    And there you have it! You can now maximise the reach to your audience with ease.
