extends _blog

prepend titleDeterminer
  - var pageDesc = 'Learn how you can automate direct message replies for your Instagram account. Auto-replies can step in during your off hours to respond to your prospects while you are away.'
  - var pageTitle = 'How To Set Up Automatic Message Replies on Instagram'

block blogContent
  :markdown-it()
    # How To Set Up Automatic Message Replies on Instagram

    There are many good cases where an auto-reply to your Instagram DMs would come in super handy.
    Some common examples are:

    - **Sending instant acknowledgement of receipt** to your customers while they await a real human to take over the chat. This can help with assuring the customer of your presence and promptness.
    - **Responding to common business inquiries** such as the price of your products or your rate.
    - **Office Hours Information** informing a prospect that you are currently away and will be back to respond at a specific time.

    As valuable as an auto-reply feature may sound, such feature does not exist on the Instagram app itself. However, it
    can be achieved with the [IGdm Pro](https://pro.igdm.me) app. This article will be walking through how you can set-up Instagram auto-replies using the IGdm Pro app.

    &nbsp;&nbsp;
    #### Installing IGdm Pro

    [IGdm Pro](https://pro.igdm.me) is a third-party Instagram application that has been designed to improve the effeciency of Instagram users who run businesses
    with their accounts. The IGdm Pro app offers **[message scheduling](https://igdm.me/blog/how-to-schedule-instagram-messages)**, **quick replies**, **message reminders**, **conversation labelling**
    and a host of other productivity boosting features.

    To install the [IGdm Pro](https://pro.igdm.me) app, simply visit the website ([https://pro.igdm.me](https://pro.igdm.me)), and click
    the download link that is applicable to your operating system. Once downloaded to your computer,
    launch the application and complete the installation process.

    &nbsp;&nbsp;
    #### Log In to Your Instagram Account

    - Launch the IGdm Pro App
    - Click on the button that says "Click to login with Browser". This will open instagram.com on the Chromium Browser

    ![IGdm Pro Login Screenshot](../img/blog/igdm-login.png)

    - Log into your desired Instagram Account via the Instagram page opened on the Chromium Browser.
    - Once login is complete, the browser will be automatically closed and you can switch back to the IGdm Pro app as it loads up your account.

    &nbsp;&nbsp;
    #### Configure and Enable Message Auto-Reply

    - Move your mouse to hover on your profile picture located on the top left corner of the application (see screenshot below)
    - A dropdown menu will appear with a list of actions that you can perform. Click on the "Auto-Messaging Tools" option.

    ![IGdm Pro avatar dropdown menu](../img/blog/follower-auto-message-drop-down.png)

    - This will switch the App to the "Auto Message Tools" view and you can start configuring your Automatic Replies.
    - As seen in the screenshot below, the Automatic Reply view requires to you select a condition under which IGdm Pro should automatic reply to a message.

    ![IGdm Pro auto reply view](../img/blog/auto-reply-view.png)

    - The options available are:
      1. Auto-Reply When the Incoming message contains a specific phrase 
      2. Auto-Reply When the Incoming message begins with a specific phrase
      3. Auto-Reply When the Incoming message was sent from a specific user
      4. Auto-Reply All Incoming messages regardless of any conditions

      &nbsp;&nbsp;

      Each of the above options can be valuable for different cases. For example, you can select the 4th option (Auto-Reply to all incoming message) during your Off-hours or Lunch break so anyone who sends you a message will immediately get a response telling them you'll be back in a couple of hours.

    ![IGdm Pro auto reply condition](../img/blog/auto-reply-condition.png)

    - For the purpose of the guide, we will select the condition to auto-reply when the message is sent from a specific user
    - Once the condition is selected, you're required to type the Instagram username of the said user into the input box on the right. So if hypothetically the persons username is "mickeymouse", then you input it as in the screenshot below.

    ![IGdm Pro auto reply recipient](../img/blog/auto-reply-recipient.png)

    - Now that we've selected the condition, we can go ahead the compose the message which we'd want to auto-reply with.
    - Once you're done composing your message, click the "Save Auto Reply" button.
    - Note that your auto-reply has not been enabled yet, it has only been saved at this point.
    - To enable the auto-reply which you composed in the previous steps, simply click the toggle switch as seen in the screenshot below. Your auto-reply will be enabled for as long as the toggle switch is enabled. If you'd like to temporarily disable the auto-reply, you can simply turn off the toggle switch and it will be disabled for that period.

    ![IGdm Pro auto reply recipient](../img/blog/auto-reply-toggled.png)

    &nbsp;&nbsp;

    Now that your auto-reply is enabled, IGdm Pro will automatically respond if a message is received from the provided user (in our case, "mickeymouse").

    **NOTE:** The auto-reply feature will not work if your IGdm Pro app is not running. However, once you re-start the app, it will begin to work again.

    &nbsp;&nbsp;
    #### What If The Same Person Messages You Multiple Times?

    [IGdm Pro's](https://pro.igdm.me) Auto-Reply feature is intelligently implemented to not auto-reply an account more than once even if they send subsequent messages to you.
    However, if the person sends you a subsequent message over an hour after, the auto-reply will kick in to respond again.

    &nbsp;&nbsp;

    On that note, we have come to the end of this guide. Thank you for reading and we hope you found this useful.
