extends _blog

prepend titleDeterminer
  - var pageDesc = 'Blog Posts By IGdm'
  - var pageTitle = 'Blog Posts By IGdm'

block blogContent
  h1 BLOG POSTS
    
  h3
    a(href="https://igdm.me/blog/igdm-on-windows-linux") Getting IGdm running on Windows and Linux
  p There are some known issues to get IGdm up and running on Windows, learn how to get it up and running.
