/*
  Material Design Icons Bootstrap Fix
*/

.alert.mdi::before {
  margin: 0 3px 0 -3px;
}

.btn.mdi:not(:empty)::before {
  margin: 0 3px 0 -3px;
}

.breadcrumb-item a.mdi::before, .breadcrumb-item span.mdi::before {
  margin: 0 2px 0 -2px;
}

.dropdown-item.mdi::before {
  margin: 0 8px 0 -10px;
}

.list-group-item.mdi::before {
  margin: 0 6px 0 -6px;
}

.modal-title.mdi::before {
  margin: 0 4px 0 0;
}

.nav-link.mdi::before {
  margin: 0 4px 0 -4px;
}

.navbar-brand.mdi::before {
  margin: 0 4px 0 0;
}

.popover-title.mdi::before {
  margin: 0 4px 0 -4px;
}

/*
  General CSS
*/

body {
  background-color: #FAFAFA;
}

html, body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, .h1, h2, .h2 {
  font-weight: 600;
}

.promoBanner {
  position: relative;
}

.promoBanner.still {
  background-image: linear-gradient(150deg,#dd27c6 0%,#8805ff 100%);
  padding: 0.25rem 0;
}

.forkus {
  position: fixed;
  bottom: 2rem;
  right: 0;
  border: 0;
  z-index: 10;
}

footer {
  position: relative;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
}

.footerBackground {
  background-image: linear-gradient(150deg,#891579 0%,#6c00d1 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  transform: skewY(0.5deg);
  transform-origin: 0;
  z-index: -1;
}