body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #666;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

header {
  border-bottom: 1px #eee solid;
}

header .logo {
  opacity: 0.8;
  padding-left: 5%;
}

header .logo span {
  vertical-align: top;
}

.container {
  padding: 1% 5% 5% 5%;
  text-align: center;
}

.pry-color {
  color: rgb(22, 139, 249);
}

.pry-bg {
  background-color: rgb(22, 139, 249);
}

.pry-border {
  border: 2px rgb(22, 139, 249) solid;
}

.heading {
  font-weight: 200;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #aaa;
}

.download h3 {
  margin: 10px 0 10px 0;
}

.download img {
  display: inline-block;
}

.download a {
  display: inline-block;
  width: 100px;
  margin: 20px;
  padding: 5px;
  font-size: 20px;
  color: #555;
  border-radius: 100px;
  text-decoration: none;
  border: 2px #ccc solid;
}

.download a:hover {
  box-shadow: 10px 10px 50px #ccc;
  background: rgb(52, 169, 249);
  border: 2px rgb(52, 169, 249) solid;
  color: white;
  transition: all 0.2s ease;
}

.screenshots a {
  display: inline-block;
  width: 480px;
  margin: 50px 20px;
  text-decoration: none;
  color: #555;
}

.screenshots a img {
  max-width: 100%;
  box-shadow: 10px 10px 50px #ccc;  
}

.faint-text {
  font-style: italic;
  font-size: 14px;
  opacity: 0.6;
}

.socio-link {
  color: #888;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #ddd;
  padding: 2px 5px 2px 2px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.socio-link:hover, .socio-link:focus {
  color: #555;
  border-color: #555;
}

.socio-link img {
  border-radius: 50%;
  vertical-align: bottom;
}

