@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


ul {
  padding-left: 0;
}

a {
  text-decoration: underline;
}

button, a {
  cursor: pointer;
}

button, button:focus {
  border: none;
  outline: none;
}

.italic {
  font-style: italic;
}

.hide {
  display: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  color: #555;
}

.settings {
  position: absolute;
  top: 10px;
  right: 55px;
  background: url(../img/user.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  width: 35px;
  height: 35px;
  outline: none;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 55px;
  border: 1px solid #eee;
  padding: 20px 0 20px 0;
  background: white;
  border-radius: 5px;
  z-index: 2;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown .item {
  padding: 10px 15px;
  text-align: center;
  font-size: 11px;
  color: #666;
  cursor: pointer;
  border-bottom: 1px #efefef solid;
}

.thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-list, .chat {
  display: inline-block;
}

.chat-list {
  padding: 20px;
  width: 25%;
  position: absolute;
  top: 20px;
  left: 0;
  height: 90vh;
  overflow: scroll;
}

.chat-list input[name=search] {
  margin: 0 auto;
  margin-top: 40px;
  height: 20px;
  width: 92%;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px;
  display: block;
  outline: none;
  border: 1px #ccc solid;
}

.chat-list .search-header {
  position: fixed;
  width: 25%;
  background: #fff;
  height: 90px;
  padding-bottom: 10px;
  top: 0;
  z-index: 2;
}

.chat-list ul {
  padding-top: 50px;
}

.chat-list li {
  list-style: none;
  padding: 15px;
  border-bottom: 1px #efefef solid;
  vertical-align: middle;
  cursor: pointer;
}

.chat-list li:hover, .chat-list li.active, .dropdown .item:hover {
  background: #efefef;
}

.chat-list li .username {
  vertical-align: top;
  margin-left: 10px;
  font-size: 14px;
}

.chat-list li.notification:after {
  content: '1';
  position: absolute;
  right: 30px;
  width: 15px;
  height: 15px;
  padding: 3px;
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  background: rgb(22, 139, 249);
  color: #fff;
}

.chat-list div {
  display: inline-block;
}

.chat {
  padding: 15px;
  width: 65%;
  margin-left: 30%;
}

.chat-title {
  padding: 10px;
  min-height: 15px;
}

.chat-title b:hover {
  cursor: pointer;
  text-decoration: underline;
}

.messages {
  height: 75vh;
  overflow: scroll;
  background: #efefef;
  padding: 20px 20px 0px 20px;
  border: 1px #efefef solid;
}

.messages .cover img {
  margin: 50px auto;
  opacity: 0.5;
}

.chat .message {
  width: 100%;
  margin-bottom: 20px;
}

.chat .message .content {
  display: block;
  padding: 7px 7px 2px 7px;
  max-width: 200px;
  border-radius: 8px;
  text-align: left;
  position: relative;
  word-wrap: break-word;
  cursor: pointer;
  white-space: pre-line;
}

.chat .message .content img {
  max-width: 100%;
}

.chat .message .content .post-caption, .chat .message .content a {
  font-size: 12px;
  color: #666;
}

.message.outward .content {
  margin-left: 70%;
  background: rgb(22, 139, 249);
  color: #efefef;
  font-weight: 200;
}

.message.inward .content{
  margin-right: 70%;
}

.message.inward .content, .message.inward .content.ig-media, .message.outward .content.ig-media {
  background: #fff;
  color: #666;
}

.message .content:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  bottom: auto;
  border: 10px solid;
}

.message.inward .content:after{
  left: -10px;
  right: auto;;
  border-color: #fff transparent transparent transparent;
}

.message.outward .content:after {
  left: auto;
  right: -10px;
  border-color: rgb(22, 139, 249) transparent transparent rgb(22, 139, 249);
}

.message.outward .content.ig-media:after{
  border-color: #fff transparent transparent #fff;
}

.message.outward .content:not(.ig-media) a.link-in-message {
  color: white;
}

.message.inward .content a.link-in-message {
  color: rgb(22, 139, 249);
}

.message-time {
  font-size: 10px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 5px;
}

.message-sender {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 6px;
}

.seen {
  text-align: right;
  color: #aaa;
  font-size: 14px;
}

.new-message {
  position: absolute;
  bottom: 30px;
  width: 63%;
}

.new-message textarea, .new-message textarea:focus {
  outline: none;
  font-size: 17px;
  color: #555;
  padding: 15px 10px 10px 10px;
  padding-right: 5%;
  width: 95.8%;
  word-wrap: break-word;
  height: 30px;
  border: 1px #aaa solid;
  resize: none;
}

.viewer {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: white;
  z-index: 3;
  display: none;
}

.viewer.active {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.viewer .content img, .viewer .content video {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.viewer .content img {
  max-width: 55%;
}

.viewer button.close {
  background: transparent;
  opacity: 0.5;
}

.viewer .post-caption {
  margin: 10px auto;
  max-width: 250px;
  word-wrap: break-word;
  font-size: 15px;
}

.unfollowers {
  text-align: center;
}

.unfollowers li {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 10px;
  border-bottom: 1px #efefef solid;
}

.unfollow-button {
  padding: 8px;
  color: rgb(22, 139, 249);
  background: white;
}

.unfollow-button:hover {
  text-decoration: underline;
}

.view-on-ig {
  background: rgb(22, 139, 249);
  color: white;
  border: 1px rgb(22, 139, 249) solid;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  transition: all .2s ease-out .1s;
}

.view-on-ig:hover {
  opacity: 0.8;
}

/**********************************
EMOJIS
***********************************/

@keyframes slideUp {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0px);
  }
}

.open-emoji, .open-emoji:focus {
  background: none;
  position: absolute;
  left: 93%;
  font-size: 25px;
  bottom: 40px;
  opacity: 0.5;
}

.emojis {
  width: 500px;
  position: absolute;
  bottom: 100px;
  right: 60px;
  background: white;
  border: 1px #efefef solid;
}

.emojis:not(.hide) {
  animation-name: slideUp;
  animation-duration: 0.2s;
  animation-timing-function: ease-out; 
}

.emojis-header {
  width: 100%;
  padding: 3px;
  border-bottom: 1px #efefef solid;
  overflow-x: scroll;
}

.emojis-header div {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.emojis-body {
  height: 300px;
  overflow-y: scroll;
  word-wrap: break-word;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.emojis-body .emoji {
  font-size: 20px;
  margin: 3px 3px;
  cursor: pointer;
}

/******************************
CAROUSEL
******************************/

.carousel-left, .carousel-right {
  position: absolute;
  padding: 40px;
  top: 200px;
  opacity: 0.2;
}

.carousel-left {
  left: 0;
  background: url(../img/chevron-left.png) no-repeat center;
  background-size: 30px;
}

.carousel-right {
  right: 0;
  background: url(../img/chevron-right.png) no-repeat center;
  background-size: 30px;
}